.contact-section {
    width: 100%;
    padding: 4rem 0;
    /* background-color: var(--background);
    text-align: center; */
}

.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: darken(var(--primary), 10%);
}